<div class="row" data-sticky_parent data-equalizer>
   <!-- Left -->
  <div class="large-3 medium-4 show-for-medium-up columns" data-equalizer-watch>
    <div style="height: 100%;" class="panel" data-sticky_parent>
      <div class="sticky_column panel" data-sticky_column><img src="mockup-images/card-standings-5.png"></div>
    </div>
  </div>
  <!-- Middle -->
  <div class="large-6 medium-4 columns panel" data-equalizer-watch>
  <!-- Card Article Normal -->
    <div class="row panel">
        <img src="mockup-images/card-article-feature.png"></a>
    </div>

    <!-- Card Article Normal -->
    <div class="row panel">
        <img src="mockup-images/card-article-gallery.png"></a>
    </div>
    <div class="row panel">
        <img src="mockup-images/card-gameroundup.png"></a>
    </div>
    <div class="row panel">
        <img src="mockup-images/card-article-normal.png"></a>
    </div>
    <div class="row panel">
        <img src="mockup-images/card-article-video.png"></a>
    </div>
    <div class="row panel">
        <img src="mockup-images/card-poll.png"></a>
    </div>
   </div>
   <!-- Right -->
   <div class="large-3 medium-4 columns show-for-medium-up" data-equalizer-watch>
    <div style="height: 100%;" class="panel" data-sticky_parent>
      <div class="sticky_column panel" data-sticky_column><img src="mockup-images/long-ad.jpg"></div>
    </div>
    </div>
</div>

<script>
    $(document).foundation();
    $(".panel .sticky_column").stick_in_parent({offset_top:100});
    $(document.body).trigger("sticky_kit:recalc");
</script>

