<div class="row" data-sticky_parent data-equalizer>
   <!-- Left -->
  <div class="large-3 medium-4 show-for-medium-up columns" data-equalizer-watch>
     <h5 class="light">Statistique</h5>
    <div style="height: 100%;" class="" data-sticky_parent>
        <div class="sticky_column panel" data-sticky_column>
            <iframe src="embed-leaguestatstandings.html" style="width:100%; height:850px;"></iframe>
        </div>
    </div>
  </div>
  <!-- Middle -->

  <div class="large-6 medium-4 columns" data-equalizer-watch>
    <h5 class="light">Nouvelles</h5>      
  <!-- Card Article Normal -->
    <div class="row panel card">
        <div class="large-8 medium-8 small-9 columns">

            <h3>Nam porttitor blandit accumsan Ut vel dictum sem, a pret</h3>
            <h6 class="subheader show-for-medium-up">Nulla fringilla sed augue nec dignissim. Maecenas risus arcu, tristique ut consectetur at, accumsan a lorem. Aenean in massa velit. </h6>
            <p class="light small">November 13, 2014</p>
        </div>
        <div class="large-4 medium-4 small-3 columns">
            <a class="th" href="#"><img src="mockup-images/action-thumb-lg.png"></a>
        </div>
    </div>

    <!-- Card Article Normal -->
    <div class="row panel card">
        <div class="large-12 medium-12 small-12 columns">
        <a class="th" href="#"><img src="mockup-images/action-thumb-lg.png"></a>
        <h3>Nam porttitor blandit accumsan Ut vel dictum sem, a pret</h3>
        <h6 class="subheader light">Nulla fringilla sed augue nec dignissim. Maecenas risus arcu, tristique ut consectetur at, accumsan a lorem. Aenean in massa velit. </h6>
        <p class="light small">November 13, 2014</p>
        </div>
    </div>
    <!-- Poll card -->
    <div class="row panel card">
        <div class="large-12 medium-12 small-12 columns">
            <div class="large-6 columns">
                <h3>Etiam rhoncus lacus a risus aliquet varius?</h3>
<ul>
  <li>
              <input id="checkbox1" type="checkbox"><label for="checkbox1">Curabitor lobortis</label>
</li>
<li>
              <input id="checkbox2" type="checkbox"><label for="checkbox2">Praesent ullamcorper </label>
</li>
<li>
              <input id="checkbox3" type="checkbox"><label for="checkbox3">In hac habitasse</label>
</li>
<li>
              <input id="checkbox4" type="checkbox"><label for="checkbox4">Vusce veicula dol</label>
</li>
</ul>
            </div>
            <div class="large-6 columns">
                <div class="advert panel"><p class="light small">Advertisment</p><img src="mockup-images/qmjhl-bigbox.gif"></div>
            </div>
        </div>
    </div>

    <div class="row panel">
        <img src="mockup-images/card-gameroundup.png"></a>
    </div>
    <div class="row panel">
        <img src="mockup-images/card-article-normal.png"></a>
    </div>
    <div class="row panel">
        <img src="mockup-images/card-article-video.png"></a>
    </div>
   </div>
   <!-- Right -->
   <div class="large-3 medium-4 columns show-for-medium-up" data-equalizer-watch>
    <h5 class="light">A la Une</h5>
    <div style="height: 100%;" class="" data-sticky_parent>
      <div class="sticky_column panel advert" data-sticky_column><p class="light small">Advertisement</p><img src="mockup-images/long-ad.jpg" width=300></div>
    </div>
    </div>
</div>

<script>
    $(document).foundation();
    $(".panel .sticky_column").stick_in_parent({offset_top:100});
    $(document.body).trigger("sticky_kit:recalc");
</script>

