<div class="row" data-sticky_parent data-equalizer>
   <!-- Left -->
  <div class="large-3 medium-4 show-for-medium-up columns" data-equalizer-watch>
    <div style="height: 100%;" class="panel" data-sticky_parent>
        <!--<div class="sticky_column panel" data-sticky_column><img src="mockup-images/card-standings-5.png"></div>-->
    </div>
  </div>
  <!-- Middle -->
  <div class="large-6 medium-4 columns panel" data-equalizer-watch>
  <!-- Card Article Normal -->
    <div class="row panel">
        <div class="large-8 medium-8 small-9 columns">

            <h3>Nam porttitor blandit accumsan Ut vel dictum sem, a pret</h3>
            <h6 class="subheader show-for-medium-up">Nulla fringilla sed augue nec dignissim. Maecenas risus arcu, tristique ut consectetur at, accumsan a lorem. Aenean in massa velit. </h6>
            <p class="light small">November 13, 2014</p>
        </div>
        <div class="large-4 medium-4 small-3 columns">
            <a class="th" href="#"><img src="mockup-images/action-thumb-lg.png"></a>
        </div>
    </div>

    <!-- Card Article Normal -->
    <div class="row panel">
        <div class="large-12 medium-12 small-12 columns">
        <a class="th" href="#"><img src="mockup-images/action-thumb-lg.png"></a>
        <h3>Nam porttitor blandit accumsan Ut vel dictum sem, a pret</h3>
        <h6 class="subheader">Nulla fringilla sed augue nec dignissim. Maecenas risus arcu, tristique ut consectetur at, accumsan a lorem. Aenean in massa velit. </h6>
        <p class="light small">November 13, 2014</p>
        </div>
    </div>

    <div class="row panel">
        <img src="mockup-images/card-gameroundup.png"></a>
    </div>
    <div class="row panel">
        <img src="mockup-images/card-article-normal.png"></a>
    </div>
    <div class="row panel">
        <img src="mockup-images/card-article-video.png"></a>
    </div>
    <div class="row panel">
        <img src="mockup-images/card-poll.png"></a>
    </div>
   </div>
   <!-- Right -->
   <div class="large-3 medium-4 columns show-for-medium-up" data-equalizer-watch>
    <div style="height: 100%;" class="panel" data-sticky_parent>
      <div class="sticky_column panel" data-sticky_column><img src="mockup-images/long-ad.jpg"></div>
    </div>
    </div>
</div>

<script>
    $(document).foundation();
    $(".panel .sticky_column").stick_in_parent({offset_top:100});
    $(document.body).trigger("sticky_kit:recalc");
</script>

