<div class="row">
<dl class="tabs" data-tab>
  <dd><a href="#panel-left">Stats</a></dd>
  <dd class="active"><a href="#panel-main">Feed</a></dd>
  <dd><a href="#panel-right">Features</a></dd>
</dl>
</div>
<div class="tabs-content">
  <div class="large-4 medium-3 small-12 columns sidebar-left content" id="panel-left">
    <div class="row">
      <div class="large-12 columns">
        <img src="mockup-images/card-standings-5.png" />
      </div>
    </div>
  </div>

  <div class="large-4 medium-6 small-12 columns feed content active" id="panel-main">
    <div class="row">
      <div class="large-12 columns">
        <img src="mockup-images/card-article-feature.png" />
      </div>
    </div>
  </div>

  <div class="large-4 medium-3 small-12 columns hide-for-small sidebar-right content" id="panel-right">
    <div class="row">
      <div class="large-12 columns">
        <img src="mockup-images/long-ad.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <img src="mockup-images/card-playerspotlight.png" />
      </div>
    </div>
  </div>

  <div class="row"></div>

     
</div>
