<div class="row">
  <dl class="tabs" data-tab>
    <dd class="small-4"><a href="#panel1">Stats</a></dd>
    <dd class="small-4 active"><a href="#panel2">Feed</a></dd>
    <dd class="small-4"><a href="#panel3">Features</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content" id="panel1">
      <div class="row">
        <div class="large-12 columns">
        </div>
      </div>
    </div>

    <div class="content active" id="panel2">
      <div class="row">
        <div class="large-12 columns">
          <!-- Card Article Normal -->
            <div class="row panel">
                <div class="large-8 medium-8 small-9 columns">

                    <h3>Nam porttitor blandit accumsan Ut vel dictum sem, a pret</h3>
                    <h6 class="subheader show-for-medium-up">Nulla fringilla sed augue nec dignissim. Maecenas risus arcu, tristique ut consectetur at, accumsan a lorem. Aenean in massa velit. </h6>
                    <p class="light small">November 13, 2014</p>
                </div>
                <div class="large-4 medium-4 small-3 columns">
                    <a class="th" href="#"><img src="mockup-images/action-thumb-lg.png"></a>
                </div>
            </div>

            <!-- Card Article Normal -->
            <div class="row panel">
                <div class="large-12 medium-12 small-12 columns">
                <a class="th" href="#"><img src="mockup-images/action-thumb-lg.png"></a>
                <h3>Nam porttitor blandit accumsan Ut vel dictum sem, a pret</h3>
                <h6 class="subheader">Nulla fringilla sed augue nec dignissim. Maecenas risus arcu, tristique ut consectetur at, accumsan a lorem. Aenean in massa velit. </h6>
                <p class="light small">November 13, 2014</p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="content" id="panel3">
      <div class="row">
        <div class="large-12 columns">
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).foundation();
</script>
