<div class="row">
  <dl class="tabs" data-tab>
    <dd><a href="#panel1">Stats</a></dd>
    <dd class="active"><a href="#panel2">Feed</a></dd>
    <dd><a href="#panel3">Features</a></dd>
  </dl>
  <div class="tabs-content">
    <div class="content" id="panel1">
      <div class="row">
        <div class="large-12 columns">
          <img src="mockup-images/card-standings-5.png" />
        </div>
      </div>
    </div>

    <div class="content active" id="panel2">
      <div class="row">
        <div class="large-12 columns">
          <img src="mockup-images/card-article-feature.png" />
        </div>
      </div>
    </div>

    <div class="content" id="panel3">
      <div class="row">
        <div class="large-12 columns">
          <img src="mockup-images/long-ad.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <img src="mockup-images/card-playerspotlight.png" />
        </div>
      </div>
    </div>
  </div>
</div>
$(document).foundation();
